.mern-app {
    & .navbar {
        padding: 0 3rem;
        height: 50px;
    }
    & .brand-name {
        text-decoration: none;
        color: gray;
        font-size: 1.2rem;
        font-weight: bold;
    }
    & .mern-nav {
        & li {
            margin-left: 10px;
            & a:hover {
                text-decoration: none;
            }
        }
    }
}