@import '../../../styles/media-queries.scss';

$nav_theme_color: lightseagreen;

@mixin navButton($radius, $left, $borderWidth) {
    margin-left: $left;
    border-width: $borderWidth;
    border-style: solid;
    border-color: $nav_theme_color;
    border-radius: $radius;
}
.mern-app {
    & .navbar {
        padding: 0;
        min-height: 56px;
    }
    & .brand-name {
        text-decoration: none;
        color: $nav_theme_color;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 10px;
    }
    & .navbar-toggler {
        margin: 7px;
        padding: 2px 8px;
    }
    & .mern-center-nav, & .mern-right-nav  {
        & li {
            & a {
                color: $nav_theme_color;
                display: block;
                width: 100%;
                height: 100%;
                padding: 2px 10px;
            }
            &:hover, &.active {
                background: $nav_theme_color;
                cursor: pointer;
                & a {
                    color: gray;
                    text-decoration: none;
                }
            }
        }
    }
    & .mern-center-nav {
        & li {
            @include navButton(0, 0, 0);
        }  
    } 
    & .mern-right-nav {
        & li {
            @include navButton(4px, 10px, 1px);
        }  
    } 
    @include for-size(tablet-portrait-up){
        & .navbar {
            padding: 0 3rem;
            height: 56px;
        }
        & .navbar-nav {
            margin: 0 auto;
        }
        & .mern-center-nav  {
            & li {
                @include navButton(4px, 10px, 1px);
            }
        }
        & .mern-right-nav {
            order: 2;
        }
    }
}
