.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 2.8rem;
    min-height: 2.8rem;
    background: #343a40;
    color: lightseagreen;
    align-items: center;
    padding: 0 2em;
    font-size: .9rem;
    & a {
        color: gray;
    }
}