@import '../components/presentational/footer/footer.scss';
@import '../components/presentational/navbar/navbar.scss';

.mern-app {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    & .jumbotron {
        overflow: auto;
    }
}